@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, rgb(78, 62, 153), rgb(20, 69, 90), rgb(0, 123, 114));
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 100px;
    padding: 20px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.familia {
    width: 100%;
    height: 100%;
}

.familia img {
    width:  100%;
    height: auto;
    object-fit: cover;
    opacity: .5;
}